.categoria{
    text-align: center;
    padding: 32px;
   
}

.categoria h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;

}

.categoria .personagens{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}